@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --outline-width: 2px;
    --outline-color: theme(colors.blue.600);
    --outline-style: auto;
  }
  html {
    line-height: 1.8;
    font-family: theme(fontFamily.text);
    color: theme(colors.text.DEFAULT);
  }
  body {
    background-color: theme(colors.background.DEFAULT);
  }
  svg {
    @apply inline-block
  }
  :focus-visible {
    outline-width: var(--outline-width);
    outline-color: var(--outline-color);
    outline-style: var(--outline-style);
  }

  @media screen and (prefers-color-scheme: dark) {
    html {
      color: theme(colors.textDark.DEFAULT)
    }
    body {
      background-color: theme(colors.backgroundDark.DEFAULT);
    }
  }
}

@layer components {
  .app-outline {
    outline-width: var(--outline-width);
    outline-color: var(--outline-color);
    outline-style: var(--outline-style);
  }
  .button {
    @apply px-3 py-1 shadow-md text-white
    data-[size=large]:px-5
    data-[size=large]:py-3
    data-[size=large]:text-xl

    data-[variant=primary]:bg-primary
    data-[variant=primary]:rounded-md
    data-[variant=primary]:hover:bg-primary-hover
    data-[variant=primary]:active:bg-primary-active
    data-[variant=primary]:disabled:opacity-40
    data-[variant=primary]:disabled:hover:bg-primary
    data-[variant=primary]:disabled:active:bg-primary
    data-[variant=primary]:shadow-primary-light

    data-[variant=secondary]:bg-secondary
    data-[variant=secondary]:rounded-md
    data-[variant=secondary]:hover:bg-secondary-hover
    data-[variant=secondary]:active:bg-secondary-active
    data-[variant=secondary]:disabled:opacity-40
    data-[variant=secondary]:disabled:hover:bg-secondary
    data-[variant=secondary]:disabled:active:bg-secondary
    data-[variant=secondary]:shadow-secondary-light
  }
  .iconButton {
    @apply px-1 py-1 rounded-full inline-flex hover:bg-slate-300/20
    data-[size=large]:px-3
    data-[size=large]:py-3
    data-[size=large]:text-xl

    data-[variant=primary]:bg-primary
    data-[variant=primary]:text-white
    data-[variant=primary]:shadow-md
    data-[variant=primary]:hover:bg-primary-hover
    data-[variant=primary]:active:bg-primary-active
    data-[variant=primary]:disabled:opacity-40
    data-[variant=primary]:disabled:hover:bg-primary
    data-[variant=primary]:disabled:active:bg-primary
    data-[variant=primary]:shadow-primary-light

    data-[variant=secondary]:bg-secondary
    data-[variant=secondary]:text-white
    data-[variant=secondary]:shadow-md
    data-[variant=secondary]:hover:bg-secondary-hover
    data-[variant=secondary]:active:bg-secondary-active
    data-[variant=secondary]:disabled:opacity-40
    data-[variant=secondary]:disabled:hover:bg-secondary
    data-[variant=secondary]:disabled:active:bg-secondary
    data-[variant=secondary]:shadow-secondary-light
  }
}
